html {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 6px 0;
}

.input label {
    font-size: 20px;
    font-weight: 500;
}

.error-message {
    color: red;
}

.error {
    border: 1px solid red;
}

.success-message {
    text-align: center;
}